.content {
  /* 모달창 크기 */
  width: 60%;
  height: 90%;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;

  /* 내부 항목 */
  display: flex;
  align-content: center;
  justify-content: center;
}

.originItem {
  width: 50px;
  height: 50px;
  margin: 2px 4px;
  border-radius: 10px;
  border: solid 2px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numItem {
  width: 50px;
  height: 50px;
  margin: 2px 4px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numItem:hover {
  border: solid 2px red;
  color: red;
  font-weight: 700;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* 모달창 배경 */
.back {
  /* 모달창 크기 */
  width: 9999px;
  height: 100%;

  /* 최상단 위치 */

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 66px;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);
}
